<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema Evaluador de Despliegues{% endblock %}</title>
    <!-- Agrega aquí tus enlaces a hojas de estilo CSS o librerías de JavaScript -->
</head>
<body>
    <header>
        <h1>S.E.D.</h1>
        <nav>
            <ul>
                <li><a href="/">HAIQ LAUNCHER</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- El bloque 'contenido' se llenará con el contenido específico de cada página -->
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <!-- Aquí puedes incluir el pie de página -->
        <p>&copy; 2024 TFM - AMAM. Todos los derechos reservados.
            <a href="https://alvaromam.github.io/personal-page/">https://alvaromam.github.io/personal-page/</a>
        </p>
    </footer>
</body>
</html>