<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema Evaluador de Despliegues{% endblock %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
    .navbar-inverse {
    border-top: none; /* Elimina el borde superior */
    border-radius: 0; /* Elimina cualquier redondeado */
}
</style>
<body>
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="#">S.E.D.</a>
                </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/">Inicio</a></li>
            </ul>
        </nav>
    </header>

    <main>
       
        {% block content %}
        {% endblock %}
    </main>
    <br>
    <br>
    <footer class="footer text-center py-3">
        <p>&copy; 2024 Trabajo Fin de Máster - &Aacute;lvaro Manuel Aparicio Morales.</p>
        <p>Máster Universitario en Ingeniería y Ciencia de Datos, Universidad de Málaga.</p>
        <p>Todos los derechos reservados.
            <a href="https://alvaromam.github.io/personal-page/">https://alvaromam.github.io/personal-page/</a>
        </p>
    </footer>
</body>
</html>
