{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-md-5 full-height my-img-bg-container">
        <img src="{{ url_for('static', filename='img/background.jpg') }}" alt="Imagen" style="width: 100%; height: auto;">
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3"> 
                        <a href="https://www.uma.es/"><img src="{{ url_for('static', filename='img/uma.png') }}" alt="Logo" style="height: 50px;"></a>
                    </div>
                    <div class="col-md-5"></div>
                    <div class="col-md-3 d-flex justify-content-md-start">
                        <a href="https://www.uma.es/etsi-informatica/"><img src="{{ url_for('static', filename='img/etsii.png') }}" alt="Logo" style="height: 50px;"></a>
                        
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <br>
                <h4 class="card-title text-center"><strong><p>Sistema de Evaluación de Coste para Aplicaciones Híbridas</p> <p>(Cuánticas-Clásicas)</p></strong></h4>
                <br>
                {% if info_message %}
                <div class="alert alert-info" role="alert">
                    {{ info_message }}
                </div>
                <br>
                <a href="http://127.0.0.1:8585/" class="btn btn-info"></a>
                {% else %}
                <!-- Flujo correcto -->
                <form class="form-horizontal" action="/upload" method="post" enctype="multipart/form-data" onsubmit="return validateInputs()">
                    <div class="form-group text-center">
                        <p>Los valores de los pesos deben de estar en el rango de 0.0 y 1.0. Siendo la suma de ambos pesos = 1.</p>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-3">
                                <input type="text" id="cost_input" name="cost" placeholder="Cost Weight" required>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-3">
                                <input type="text" id="performance_input" name="performance" placeholder="Performance" required>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <label id="file_label" for="app_specification_input">App Specification</label>
                                <input class="form-control" type="file" id="app_specification_input" name="file" accept=".zip" required>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <br>
                        
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </div>
                        </div>
                    </div>
                </form>
                {% endif %}
                
                <br>
                <footer class="footer text-center py-3"><strong>
                    <p>&copy; 2024 Trabajo Fin de Máster - <a href="https://alvaromam.github.io/personal-page/">&Aacute;lvaro M. Aparicio-Morales</a>.</p>
                    <p><strong> Tutorizado por</strong>: Jose Garcia-Alonso y <a href="https://javier-camara.github.io/">Javier C&aacute;mara</a></p>
                    <p>Máster Universitario en Ingeniería y Ciencia de Datos, Universidad de Málaga.</p>
                    <p>Todos los derechos reservados.
                        
                    </p>
            
                </strong></footer>
            </div>
        </div>
    </div>
</div>
<script>
function validateInputs() {
    var cost = document.getElementById('cost_input').value;
    var performance = document.getElementById('performance_input').value;

    // Intentamos convertir los valores a números flotantes
    cost = parseFloat(cost);
    performance = parseFloat(performance);

    // Comprobamos que sean números válidos
    if (isNaN(cost) || isNaN(performance)) {
        alert("Por favor, ingrese números válidos en ambos campos.");
        return false;
    }

    // Verificar que estén entre 0.0 y 1.0
    if (cost < 0 || cost > 1 || performance < 0 || performance > 1) {
        alert("Los valores deben estar entre 0.0 y 1.0.");
        return false;
    }

    // Verificar que la suma sea igual a 1
    if ((cost + performance).toFixed(2) != 1) {
        alert("La suma de Cost Weight y Performance Weight debe ser igual a 1.");
        return false;
    }

    return true;
}
</script>

{% endblock %}
